.card__description {
  display: flex;
  flex: 0 0 79px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 22px 20px;
  box-sizing: border-box;
  /*Чтобы по ПЭПЭ отступы снизу-сверху одинаковые            */
}
