.profile__image {
  position: relative;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
}

.profile__image:hover {
  cursor: pointer;
}

.profile__image::before {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  background: rgb(0 0 0 / 0.8) url(../../../images/edit-icon.svg) center / 20%
    no-repeat;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 250ms;
}

.profile__image:hover::before {
  opacity: 1;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
